.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.cart-container{
    margin-right: 50px;
    margin-top: 50px;
}